form  {
    box-shadow: 2px 2px 5px rgb(61, 61, 61) , -2px -2px 5px rgb(61, 61, 61);
    border-radius: 30px;
    width: 40%;
    margin: auto;
    padding: 40px;
    margin-top: 40px;
    
}

.form-list input {
    background-color: transparent;
    width: 100% !important;
    border-radius: 10px;
    border: none !;
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: white !important;

}


.Btn {
    border-radius: 10px !important;
    margin-top: 30px;
    width: 100%;
    background-color: #cd0c0c !important;
}

  


@media(max-width:900px) {
    form {
        width: 80%;
    }
}